<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8"/>
    <title>
        Login
    </title>
</head>
<body>
<a href="/showDeveloperInfo">
    <img src="/images/courses.png" alt="courses.png" width="320" height="160">
</a>
<h2>Вход</h2>

<form action="/login" method="post">

    <p>
        <input type="email" name="email" placeholder="Введите e-mail" required/>
    </p>

    <p>
        <input type="password" name="password" placeholder="Введите пароль" required/>
    </p>

    <input type="submit" value="Войти">

</form><br>

<form action="/registration" method="get">
    <input type="submit" value="Зарегистрироваться">
</form>

</body>
</html>